@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* font-family: 'Roboto Slab', serif;  */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
/* font-family: 'Cormorant Garamond', serif; */

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* font-family: 'Marck Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
/* font-family: 'Niconne', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/* font-family: 'EB Garamond', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/* font-family: 'Noto Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */

html {
		scroll-behavior: smooth;
}

* {
		box-sizing: border-box;
}

body {
		background: black;
		margin: 0;
		padding: 0;
		color: white ;
}

/* ----- */
li, a, button{
		outline: none! important;
		text-decoration: none! important;
		list-style: none! important;
}

p {
		font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
		font-family: 'Roboto Slab', serif;
}

input {
		outline: none! important;
}

.allMenu {
}

/* --- progress --- */

#window-progress {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 3px;
		background: #FFD700;
		z-index: 10000;
}


/* navbar */

.navbar-box {
		position: fixed;
		height: 40px;
		padding-top: 10px;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		line-height: 40px;
		justify-content: space-between;
		z-index: 10000;
		transition: all .4s ease-in-out;
		background-image: linear-gradient(#112233, rgba(17,34,51,.3));
}


.navbar-box a#logo-box{
		margin-top: 0;
		margin-left: 15px;
		color: white;
		z-index: 10000;
		font-family: 'Roboto Slab', serif;
		text-transform: uppercase;
		text-shadow: 5px 4px black;
		font-weight: bolder;
}

.navbar-box #nav-menu {
		display: flex;
		margin-top: 0;
}

.navbar-box #nav-menu li {
		color: white;
		padding: 0;
		text-align: center;
}

.navbar-box #nav-menu li a {
		position: relative;
		margin: 5px 10px;
		padding: 4px 15px;
		transition: all .3s ease-in-out;
		text-transform: uppercase;
		color: white;
}

.active {
		font-size: 22px;
		font-weight: bold;
		text-shadow: 5px 4px black;
		border-bottom: 2px solid #FFD700;
}

.navbar-box ul li a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		transition: all .3s ease-in-out;
}

.navbar-box #nav-menu li a:hover::after{
		border-bottom: 2px solid #FFD700;
		width: 100%;
}

#nav-menu .nav-close {
		margin: 10px auto;
		display: none;
}

.checkbtn {
		color: white;
		margin-right: 10px;
		cursor: pointer;
		/* display: none; */
		display: none;
		z-index: 100;
		text-shadow: 5px 4px black;
		font-weight: bolder;
		font-family: 'Roboto Slab', serif;
		transition: all .4s ease-in-out;
}

#check {
		visibility: hidden;
}

/* bar indikator */


/* parallax */





/* slide 2 */



/* -------- */

._home {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100vh;
	background: url('image/background/home-bg.jpg');
	background-position: center center;		
	background-size: auto 160%;
}

._home .home-box {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, rgba(17,34,51,.7), rgba(0,5,10,.95) 70%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

._home .home-box .logo-box {
	overflow: hidden;
	margin: 0 auto;
}

._home .home-box .logo-box img {
	height: 200px;
	width: auto;
	margin: 5px auto;
	padding: 0;
	-webkit-filter: drop-shadow(5px 3px #000);
	filter: drop-shadow(5px 3px #000);
	z-index: -1;
}

._home .home-box h2 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}

._home .home-box .home-text {
	margin: 0 auto;
	text-align: center;
	font-size: 1.4rem;
	font-family: 'Niconne', cursive;
	max-width: 700px;
}

._home .home-box .home-link {
	margin: 40px auto;
}

._home .home-box .home-link a {
	color: black;
	background: #FFD700;
	padding: 8px 16px;
	border-radius: 5px;
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 2px 6px 10px rbga(0,0,0,0,.8);
}	

/* ------ about ------ */
._about {
	position: relative;
	height: auto;
	padding: 0;
	margin: 0;
	background: linear-gradient(to bottom, black, #223344);
	overflow: hidden;
}

._about .about-box {
	margin: 30px;
	display: flex;
	border-radius: 5px;
	background: rgba(255,255,255,.8);
	box-shadow: 3px 7px 20px rgba(0,0,0,.9);
	backdrop-filter: blur(4px);
	padding: 60px;
	justify-content: center;
	align-items: center;
}


/* slide */
.slideshow {
	position: relative;
	flex: 1;
	height: 500px;
	margin: 0 25px 0 0;
	overflow: hidden;
	border-radius: 10px;
	background: #111;
}

.slideshow img {
	animation: zoom 31s infinite,fade 31s infinite;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	opacity: 0;
}

.slideshow .mySlides:nth-child(1) {
	animation-delay: 0s, 0s;
}

.slideshow .mySlides:nth-child(2) {
	animation-delay: 10s, 10s;
}

.slideshow .mySlides:nth-child(3) {
	animation-delay: 20s, 20s;
}

@keyframes fade {
	25% {
			opacity: 1;
	}
	40% {
			opacity: 0;
	}
}

@keyframes zoom {
	100% {
			transform: scale(1.3);
	}
}


._about .about-box-in {
	flex: 1;
	margin: 0;
	padding: 0;
}

._about .about-box h3 {
	color: darkorange;
	text-align-last: left;
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Roboto Slab', serif;
	transition: all .3s ease-in-out;
}

._about .about-box .about-content .about-text {
	margin: 7px 0;
	text-indent: 35px;
	text-align: justify;
	font-family: 'EB Garamond', serif;
	color: #123;
	/* font-family: 'Roboto Slab', serif;
	background: -webkit-linear-gradient(#011, #556);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

._about .about-box .about-content {
	border-bottom: 2px solid #ffd700;
	/* border-top: 1.8px solid #ffd700; */
	position: relative;
	margin: auto;
	height: 430px;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.about-content::-webkit-scrollbar {
	display: none;
}

._about .about-box .about-footer {
	font-size: 8px;
	font-family: 'EB Garamond', serif;
	text-align: left;
	text-align-last: left;
	color: #123;
}

#about-text-progress {
	height: 3px;
	width: 0;
	margin: 2px auto;
	padding: 0;
	background: white;
	z-index: 1000;
	border-radius: 100px;
	background-image: linear-gradient(to right, orange, yellow);
}


/* ------ menu ------- */
._menu {
	position: relative;
	margin: 0;
	padding: 0;
	background: url('image/background/menu-bg.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: auto 140%;
}

._menu .menu-box {
	background-image: linear-gradient(to bottom right, rgba(10,30,40,.99) 30%, rgba(0,0,0,.4));
	position: relative;
	margin: 0;
	padding: 0 70px;
	min-height: 100vh;
}

#menu-alert {
	position: sticky;
	top: 50%;
	margin: 0 auto;
	padding: 0;
	width: 350px;
	z-index: 100;
	transition: all .3s ease-in-out;
	font-size: 10px;
}

#menu-alert .alert-box h2 {margin: 0;}
#menu-alert .alert-box p {margin: 0;}

.alert-box {
	position: absolute;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	color: #FFD700;
	border: 2px solid darkorange;
	background: rgb(17,34,51);
	border-radius: 5px;
}

._menu .menu-box .menu-headings {
	position: relative;
	color: whitesmoke;
	top: 0;
	padding: 50px 15px 15px 15px;
	text-align: center;
}

._menu .menu-box .menu-headings h2 {
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
}

._menu .menu-box .menu-headings p {
	margin: 0 auto;
	font-family: 'EB Garamond', serif;
}

._menu .menu-box .menu-search {
	text-align: center;
	margin: 20px auto;
	position: relative;
	width: 250px;
}

._menu .menu-box .menu-search input {
	margin: 0;
	width: 100%;
	padding: 8px 25px 8px 15px;
	font-size: 1rem;
	border: none;
	border-radius: 100px;
	font-family: 'EB Garamond', serif;
}

._menu .menu-box .menu-search i {
	position: absolute;
	color: #123;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.2rem;
}

._menu .menu-box .menu-content {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

._menu .menu-box .menu-content .menu-tab-button {
	margin: auto;
	padding: 5px;
	line-height: 35px;
	/* position: sticky;
	top: 40px;
	background-image: linear-gradient(to bottom right, #123, rgba(0,0,0,.85)); */
	z-index: 100;
	text-align: center;
}

._menu .menu-box .menu-content .menu-tab-button button {
	width: 90px;
	height: 35px;
	margin: auto 10px;
	color: black;
	background: white;
	border-radius: 5px;
	font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 2px 6px 10px rbga(0,0,0,0,.8);
	outline: none! important;
	/*  border: none! important; */
}

._menu .menu-box .menu-content .menu-tab-button button a {
	color: black;
}

#menu-to-top {
	display: none;
}

._menu .menu-box .menu-content .menu-list-content {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	max-width: 100%;
	overflow: scroll;
	height: 100%;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.menu-list-content::-webkit-scrollbar {
	display: none;
}

/* menu card */


.card {
	position: relative;
	margin: 20px auto;
	padding: 0;
	height: auto;
	width: 178px;
	transition: all .5s ease-in-out;
}
.card:hover{
	transform: translateY(-5px);
}
.card .card-konten {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	border-radius: 8px;
	transition: all .5s ease-in-out;
	display: flex;
	flex-direction: column;
}
.card:hover .card-konten {
	box-shadow: 0 0 50px rgba(0,0,0,.5);
	padding-top: 20px;
}
.card .card-konten span {
	position: absolute;
	top: -19px;
	left: 50%;
	transform: translateX(-50%);
	height: 35px;
	width: 47px;
	z-index: 1;
	font-size: 15px;
	background: orange;
	color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 0 0 100% 100%;
	transition: all .5s ease-in-out;
	padding: 0;
	margin: 0;
}
.card:hover .card-konten span{
	top: -35px;
	height: 70px;
	width: 90px;
	font-size: 32px;
	box-shadow: 0 0 5px rgba(0,0,0,.9);
}
.card .card-konten span:active{
	background: darkorange;
	border: 2px solid white;
}
.card .card-konten img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}
.card .card-konten .card-deskripsi{
	background: rgba(0,0,0,.5);
	backdrop-filter: blur(10px);
	width: auto;
	flex: 1;
	margin: 4px;
	padding: 15px 8px 8px;
	font-size: 13px;
	border-radius: 8px;
	color: white;
	transform: translateY(-120%);
	transition: all 1s ease-in-out;
	box-sizing: b_ORDER;
	animation: gantiWarna 10s infinite;
}
.card.card:hover .card-konten .card-deskripsi{
	transform: translateY(0);
}
.card .card-konten .card-harga{
	backdrop-filter: blur(5px);
	background: rgba(0,0,0,.5);
	margin: 0 5px 5px;
	padding: 5px;
	text-align: center;
	color: white;
	border-radius: 8px;
	transform: translateY(100px);
	transition: all 1s ease-in-out;
	animation: gantiWarna 10s infinite;
}
.card:hover .card-konten .card-harga {
	transform: translateY(0)
}

@keyframes gantiWarna {
	0% {
		background: #19dcea33;
	}
	25% {
		background: #b22cff533;
	}
	50% {
		background: #ea222233;
	}
	75% {
		background: #f5be1033;
	}
	100% {
		background: #3bd80d33;
	}
}

.menu-nama {
	text-align: center;
	margin: 0;
}


/* ------ service ------ */
._order {
	padding: 70px 40px;
	display: flex;
	flex-direction: column;
	position: relative;
	background: whitesmoke;
}
._order h1 {
	text-transform: uppercase;
	text-align: center;
	color: #044383;
}
._order .order-ket {
	text-align: center;
	width: 100%;
	max-width: 1000px;
	margin: 10px auto 40px;
	color: #044383;
	font-size: 12px;
}
._order .order-container{
	min-height: 10%;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.order-container label{
	color: #044383;
}

.order-container .order-input, textarea {
	position: relative;
	padding: 7px;
	padding-left: 10px;
	margin: 0 0 15px;
	border: 2px solid #044383;
	border-radius: 5px;
	font-size: 14px;
	position: relative;
	outline: none;
	background-color: transparent; 
	color: #044383;
}
.order-container textarea {
	height: 100px;
}
.order-container p.daftar-order {
	font-size: 1rem;
	margin: 0 5px;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: bold;
	color: #044383;
}

.order-container .order-pilih {
	padding: 10px 0 10px 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #044383;
}
.order-container .order-pilih p {
	font-size: 14px;
	margin: 10px auto;
	text-align: center;
	color: #044383;
}
.order-container .order-pilih .order-item{
	margin: 3px 0;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding: 0;
	color: #044383;
}
.order-container .order-pilih .order-item li{
	flex: 1;
	color: #044383;
}
.order-container .order-pilih .order-item input{
	margin: 0 25px;
	width: 80px;
	text-align: center;
	color: #044383;
	border: 2px solid #044383;
	border-radius: 6px;
	background: transparent;
}
.order-container .order-pilih .order-item i{
	margin: 0 5px;
	font-size: 1rem;
	color: #044383;
}






.order-container .total-harga {
	margin: 0 0 5px;
	font-size: 1rem;
	color: #044383;
}
.order-container .bayar-box {
	margin: 5px 0 30px;
}
.order-container .bayar-box p{
	margin: 2px 0 5px;
	font-size: 1rem;
	color: #044383;
}
.order-container .bayar-box label{
	font-size: 1rem;
	color: #044383; 
}
.order-container .bayar-box .bayar-pilih{
	width: 100%;
	display: flex;
	color: #044383;
}
.order-container .bayar-box .bayar-pilih textarea{
	width: 100%;
	font-size: 13px;
	display: none;
	color: #044383;
}
.order-container .bayar-box .bayar-pilih p{
	width: 100%;
	font-size: 1rem;
	color: #044383;
	display: none;
}
.order-container .label0{
	font-size: 1rem;
	padding: 0;
	color: #044383;
}
.order-container button.order-button{
	margin-top: 10px;
	font-size: 1rem;
	padding: 10px 24px;
	width: 150px;
	align-self: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background: linear-gradient(45deg, #FFD700, darkorange);
}
.order-container button.dis{
	background: darkgray;
}
.order-container button.order-button:active{
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.cek-input {
	font-size: 12px;
	text-align: center;
	color: red;
}


/* ------ footer ------  */
._kontak {
		position: relative;
		background: url('image/background/kontak-bg.jpg');
		background-size: auto 160%;
		margin: 0;
		padding: 0;
}

._kontak .kontak-box {
		background: rgba(0,0,0,.9);
		position: relative;
		display: block;
		min-height: 100vh;
		margin: 0;
		padding: 25px;
}

._kontak .kontak-box .kontak-headings {
		display: block;
		margin: 25px auto 0;
		padding: 0;
		text-align: center;
}

._kontak .kontak-box .kontak-headings p {
		margin: auto;
		max-width: 70%;
}

._kontak .kontak-box .kontak-medsos {
		display: flex;
		margin: 50px auto 15px;
		justify-content: center;
		align-items: center;
		padding: 0;
}

.kontak-medsos button {
		margin: auto 20px;
		background: #123;
		border-radius: 5px;
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
}

.kontak-medsos button i {
		color: #FFD700;
		font-size: 20px;
}

._kontak .kontak-box .kontak-numbar {
	position: relative;
	margin: 5px auto 0;
	display: flex;
	justify-content: center;
}

.kontak-numbar a.kontak-link {
	padding: 0;
	margin: 20px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.kontak-numbar a.kontak-link i{
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	border-radius: 5px;
	border: 2px solid white;
	font-size: 1.4rem;
}
.kontak-numbar a.kontak-link i.fa-whatsapp{
	background-image: linear-gradient(45deg,#01d850, #027e4e);
}
.kontak-numbar a.kontak-link i.fa-phone{
	background-image: linear-gradient(to top right, #326ee6, #15409e);
}
.kontak-numbar a.kontak-link i.fa-envelope{
	background: linear-gradient(45deg, rgb(255, 166, 1), yellow);
}
.kontak-numbar a.kontak-link span{
	padding: 0;
	margin: 0;
	padding: 7px 10px;
	text-align: center;
	border: 2px solid white;
	transform: translateX(-2px);
	border-radius: 0 5px 5px 0;
	color: white;
}

._kontak .kontak-box .kontak-time {
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.kontak-time h4 {
	margin: 0;
	padding: 0;
	color: #f3f3f3;
}
.kontak-time ul li {
	font-family: 'Cormorant Garamond', serif;
	color: whitesmoke;
}
#map{
	height: auto;
	width: auto;
	margin: 0 auto;
}





/*------ others ------*/
a#backToTop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: #123456;
	padding: 7px 15px;
	border-radius: 5px;
	z-index: 1000;
	color: Yellow;
	font-size: 18px;
}

/* ----- key frames --------- */
@keyframes fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
}

@keyframes zoom {
	100% {
		transform: scale(1.3);
	}
}

@keyframes card {
	to {
		height: 200px;
		width: 185px;
		opacity: 1;
		margin: 15px auto;
	}
}

/* ---- waves ------ */

.waves {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  /* display: none; */
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}



