
html {
		scroll-behavior: smooth;
}

/* only small desktops */
/* tablets */
/* only small tablets */
@media only screen and (min-width: 992px) and (max-width: 1180px) {
}


@media (min-width: 768px) and (max-width: 991px) {
		
}



/* mobile or only mobile */
@media (max-width: 767px) {
/* slideshow */



/* navbar */

		.navbar-box {
				justify-content: space-between;
		}
		.checkbtn {
				display: block;
		}
		.navbar-box #nav-menu {
				position: fixed;
				flex-direction: column;
				top: 0;
				left: -100%;
				margin: 0;
				padding: 40px 0 0 0;
				width: 100%;
				height: 100vh;
				backdrop-filter: blur(4px);
				transition: all  .3s ease-in-out;
		}
		
		.navbar-box #nav-menu li {
				margin: 10px auto;
		}
		
		.navbar-box ul li a {
				
		}
		
		#check:checked ~ ul#nav-menu {
				left: 0;
		}
		
		#nav-menu .nav-close {
				display: block;
		}
		
		
		
/* about */
		._about .about-box {
				flex-direction: column;
				margin: 15px;
				padding: 15px;
		}
		
		.slideshow {
				flex: auto;
				width: 325px;
				height: 220px;
				margin: 10px auto;
				border-radius: 5px;
		}
		._about .about-box .about-box-in {
				padding: 0;
				margin: 0;
		}
		._about .about-box h3 {
				text-align-last: center;
		/* font-family: 'Montserrat', sans-serif; */
				font-family: 'Roboto Slab', serif;
				margin: 0 auto;
				padding: 0;
		}
		._about .about-box .about-box-in .about-content {
				height: 400px;
				padding: 35px;
				margin-top: 5px;
		}
		
		
		
		/* menu */
		._menu .menu-box {
				padding: 0;
				height: auto;
		}
		._menu .menu-box .menu-headings {
				margin-top: 0;
		}
		
		._menu .menu-box .menu-content .menu-tab-button {
				margin: auto;
				line-height: 35px;
				position: sticky;
				top: 49px;
				background-color: rgba(17,34,51,.95);		
}
		._menu .menu-box .menu-content .menu-list-content {
				justify-content: space-around;
				overflow: visible;
				
		}
		.menu-list-content::-webkit-scrollbar {
				display: none;
		}
		
		#menu-to-top {
				display: block;
				position: absolute;
				left: 50%;
				bottom: -60px;
				transform: translate(-50%, -50%);
				font-size: 17px;
				transition: all .4s ease-in-out;
		}
		#menu-to-top i  {
				border: 1.5px solid #FFD700;
				background: #123;
				padding: 5px;
				border-radius: 100%;
				height: 30px;
				width: 30px;
				color: #FFD700;
				box-shadow: 2px 6px 15px rgba(0,0,0,.5);
		}
		#menu-alert {
				top: 85%;
		}
		

/* layanan */
		._layanan {
				
		}
		._layanan .layanan-box{
				padding: 45px 10px 10px;
		}
		._layanan .layanan-box .layanan-head {
				max-width: 100%;
		}
		._layanan .layanan-box .layanan-content {
				flex-direction: column;
				justify-content: space-around;
		}
		
		._layanan .layanan-box .layanan-content .lay-content-box {
				position: relative;;
				max-width: 100%;
				min-height: 50%;
				border-radius: 15px;
		}
		
		
		/* kontak */
		._kontak .kontak-box .kontak-headings p {
				max-width: 100%;
		}
		
		._kontak .kontak-box .kontak-numbar {
				flex-direction: column;
				align-items: center;
		}
		
		.kontak-numbar label i {
				width: 40px;
				height: 40px;
		}
}


@media (max-width: 500px) {
	._home {	
		background-size: auto 120%;
	}
	._menu {
		background-size: auto 120%;
	}
	._kontak {
		background-size: auto 120%;
	}
}
